* {
  box-sizing: border-box;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0); /* this adds the "card" effect */
  /* padding: 16px; */
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Muli', serif
  /* background-color: #f1f1f1; */
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;

  }
}

h1 {
  text-align: center;
  font-family: 'Muli', serif;
  font-size: 60px;
  font-weight: bold;

}

.tool-image {
  width: 80%;
  max-width: 180px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

.column-about {
  float: left;
  width: 50%;
  padding: 50px;
  font-size: 20px;
  font-family: 'Muli', serif
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.home-link-bottom:hover {
  text-decoration: underline;
}

.home-link-bottom {
  text-align: center;
  /* justify-content: center; */
  padding-bottom: 30px;
  font-size: 15px;
  padding-bottom: 30px;
}
