.about-container {
  display: flex;
  justify-content: center;

}

.about-title {
  font-size: 48pt;
  font-family: 'Muli', serif;
  font-weight: 800;
  margin-bottom: -40px;
  color: #31333D;
}

.about-header {
  display: block;
  width: 700px;
}

.team-photo-container {
  width: 700px;
}

.photo-row {
  display: inline;
  text-align: center;
}

.photo-card {
  justify-content: center;
  display: inline-block;
  text-align: center;
  margin: 0px 12.5px 0px 12.5px;
}

.about-name-text {
  font-weight: bold;
}
