.grid-hr {
  margin-top: 4px;
  margin-bottom: 40px;
}

.cards-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

@media (min-width: 875px){
  .cards-grid {
    grid-template-columns: repeat(3, 16rem);
    }
}
@media (max-width: 874px){
  .cards-grid {
    grid-template-columns: repeat(2, 16rem);
    }
}

@media (min-width: 700px){
  .all-add-text {
  }
  .grid-hr {
    width: 700px;
  }
}

@media (max-width: 699px){
  .all-add-text {
    text-align: right;
  }
  .grid-hr {
    width: 90%;
  }
  .cards-grid {
    grid-template-columns: repeat(1, 16rem);
  }
  .mytools-header {
    display: block;
  }
}

.alllistings-title {
  font-size: 48pt;
  font-weight: 800;
  margin: 0;
  color: #31333D;
  text-align: left;
  width: 350px;
}


.all-add-text {
  margin-top: 25px;
  margin-left: 231px;
  padding: 12px 18px 12px 18px;
  text-align: center;
  background-color: #B6EAC2;
  border-radius: 4px;
  font-weight: bold;
  width: auto;
}
