a:link, a:visited {
  text-decoration: none;
  color: black;
  font-family: 'Muli', sans-serif;

}

.card-container {
  width: 250px;
  height: 250px;
  background-color: grey;
  border-style: solid;
  border-bottom: 2px;
  border-color: darkgrey;
  border-radius: 4px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.card-image {
  width: 245px;
  height: 245px;
}
.card-title-container {
  border: 1px solid blue;

}

.card-title {
  font-size: 18pt;
}


.card-model {
  font-size: 11pt;
  font-style: italic;
}


.card-price {
  font-size: 14pt;
}

.card-price-container {
  border: 1px solid pink;
}
