.mytools-wrap {
  display: flex;
  justify-content: center;
}

.mytools-header {
  width: 700px;
  display: inline-flex;
  margin-top: 64px;
  color: #31333D;
}

.mytools-title {
  font-size: 48pt;
  font-family: 'Muli', serif;
  color: #31333D;
  font-weight: 800;
  text-align: left;
  margin: 0px;
  width: 300px;
}

.add-text {
  margin-left: 280px;
  margin-top: 25px;
  padding: 12px 18px 12px 18px;
  text-align: center;
  background-color: #B6EAC2;
  border-radius: 4px;
  font-weight: bold;
}

.mytools-container {
  align-items: center;
  text-align: center;
}

.mytools-hr {
  width: 700px;
  margin-top: 4px;
}

.mytools-table {
  text-align: left;
  width: 700px;
}


th, td {
  font-family: 'Muli', serif;
  color: #31333D;
}

th {
  font-size: 14pt;
  font-weight: bold;
}

td {
  font-size: 11pt;
}

.price {
  color: forestgreen;
  font-weight: bold;
  font-size: 16pt;
}

.edit {
  padding: 12px 17px 12px 17px;
  background-color: #B8D0EB;
  border-radius: 4px;
  margin-left: 34px;
  font-weight: bold;
}

.delete {
  padding: 12px 18px 12px 18px;
  background-color: #EAB6B6;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 0%;
  font-weight: bold;
}

.th-img {
  width: 100px;
}

.th-title {
  width: 250px;
}

.th-make {
  width: 250px;
}

.th-price {
  width: 50px;
}

.th-edit {
  width: 150px;
}


.edit-delete {
  width: 145px;
  margin-right: -5px;
}
/* .model, .serial {
  font-style: italic;
} */
/* tr {
  margin: 0;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF} */
