.mytools-container {
  text-align: center!important;
  align-items: center!important;
}

.my-list {
  text-align: center!important;
  align-items: center!important;
}

.my-list-div {
  text-align: center!important;
  align-items: center!important;
}

.mytools-title {
  font-size: 32pt;
  margin-top: 0%;
  font-family: 'Muli', serif;
  font-weight: 800;
}
