
.logo{
  margin-top: 12px;
  display: inline-flex;
  align-items: baseline;
}

.logo-text {
  font-family: 'Muli', sans-serif;
  margin-left: 12px;
  font-size: 28pt;
  font-weight: bold!important;
  color: white;
}

.navi-span {
  background-color: #31333D;
  text-align: center;
    color: white;
}

.navi-container {
  top: 0%;
  margin: auto;
  height: 70px;
  width: 80vw;
  display: inline-flex;
  align-items: baseline;
}

.navi-items {
}

.navi-element {
  margin-top: -16px;
  display: inline-block;
  font-size: 10pt;
  font-weight: 400;
  height: 70px;
  text-decoration: none;
  padding-top: 22px;
  padding-left: 16px;
  padding-right: 16px;
  color: #EEE5E5;
  font-family: 'Muli', sans-serif;
}

.login-register {
  color: #FBFFC9;
}

.sign-out {
  color: #CCC0B9;
}

.navi-items li:hover {
  background-color: #5C5F6D;
  color: white;
}

.toolshare {
  margin: -40px auto auto 0%;
  text-align: left;
  color: white;

}

.toolshare > a > h2 {
}
