.newtools-container {
  display: flex;
  justify-content: center;
}

.form-container {
  font-family: 'Muli', serif;
  font-size: 11pt;
  font-weight: bold;
  width: 700px;
}

.newtools-title {
  font-size: 48pt;
  font-family: 'Muli', serif;
  font-weight: 800;
  margin-bottom: -40px;
  color: #31333D;
}

.newtools-header {
  display: inline;
}

.required-asterisk {
  font-family: 'Muli', serif;
  font-size: 10pt;
  color: red;
  display: inline;
  margin: 0px;
}

.required-text {
  font-family: 'Muli', serif;
  font-size: 10pt;
  text-align: right;
  align-items: baseline;
  margin-bottom: -10px;
  color: #5C5F6D;
}


.newtools-hr {
  width: 700px;
  margin-left: 0px;
  margin-top: 30px;
}

.form {
  align-items: center;
}

input:focus {
  outline: none;
}

.input, .input-description, .input-small, .input-extra-small {
  background-color: lightgrey;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #5C5F6D;
  border-radius: 4px;
  margin-bottom: 8px;
  font-family: 'Muli', serif;
  color: #31333D;
  font-size: 14pt;
}

.input {
  height: 36px;
  width: 700px;
}

.input-small {
  width: 340px;
  height: 36px;
}

.input-extra-small {
  width: 160px;
  height: 36px;
}

.input-description {
  height: 60px;
  width: 700px;
}

.make, .model-form, .deposit {
  display: inline;
  margin-left: 0px;
  margin-right: 20px;
}

.make-model, .serial-price-deposit  {
  display: flex;
  margin-bottom: -16px;
}

.price-form {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.create-button {
  height: 42px;
  margin-top: 8px;
  padding: 8px 18px 12px 18px;
  color: #31333D;
  background-color: #B6EAC2;
  border-radius: 4px;
  font-family: 'Muli', serif;
  font-size: 14pt;
  font-weight: bold;
}

.create-button:active {

}

label {
  color: #31333D;
}
