.login-container {
  display: flex;
  justify-content: center;
  margin-left: 25%;
}

.conversation-container {
  display: flex;
  justify-content: center;
}

.login-title {
  font-size: 48pt;
  font-family: 'Muli', serif;
  font-weight: 800;
  margin-bottom: 0px;
  color: #31333D;
}

.form-container {
  font-family: 'Muli', serif;
  font-size: 11pt;
  font-weight: bold;
  align-items: center;

}


.form {
  align-items: center;
}

label {
  color: #31333D;
}

.additional-links {
  margin-top: 10px;
  padding-bottom: 10px;
}


.login-hr {
  width: 340px;
  margin-left: 0px;
  margin-top: 20px;
}

.conversation-hr {
  width: 700px;
  margin-bottom: 24px;
}


.login-button {
  height: 42px;
  margin-top: 8px;
  padding: 8px 18px 12px 18px;
  color: #31333D;
  background-color: #B6EAC2;
  border-radius: 4px;
  font-family: 'Muli', serif;
  font-size: 14pt;
  font-weight: bold;
}

.back-button {
  margin-top: 8px;
  padding: 9px 18px 9px 18px;
  color: #31333D;
  background-color: lightgrey;
  border-radius: 4px;
  font-family: 'Muli', serif;
  font-size: 14pt;
}

.conversation-button {
  margin-top: 30px;
}

@media (max-width: 600px) {
  .login-container {
  margin-left: 15%;
  }
}

.dropdown {
  margin-bottom: 20px;
}


.chat-input-text {
  color: #31333D;
  margin-bottom: -30px;
  font-size: 18pt;

}

.current-user-chat {
  display: flex;
  justify-content: flex-end;
}

.chat-direction {
  display: flex;
  flex-direction: column-reverse;
}

.chat-div {
display: flex;
margin-bottom: 16px;
padding: 0px 24px;
border-radius: 24px;
background: lightblue;
max-width: fit-content;
}

.chat-div-otheruser {
  display: flex;
  margin-bottom: 16px;
  padding: 0px 24px;
  border-radius: 24px;
  background: grey;
  max-width: fit-content;
  align-content: flex-end;
}

.message-div {
  margin-top: 30px;
}

.chat-text, .description-text {
  font-size: 18pt;
  display: inline;
}

.chat-text {
  font-weight: normal;
  margin-left: 8px;

}

.conversation-list {
  margin: 20px 0px 30px 0px;
  font-size: 24pt;
}

.input-description {
    font-size: 18pt;
}


text, textarea {
  vertical-align: top;
}
