* {
  font-family: 'Muli', serif;
}

label {
  color: #31333D;
}

text, textarea {
  vertical-align: top;
}

.form {
  align-items: center;
}

@media (min-width: 700px){

  .login-container {
    margin-left: 25% ;
  }

  .login-hr {
    width: 340px;
    margin-left: 0px;
    margin-top: 20px;
  }


  .conversation-hr {
    width: 700px;
    margin-bottom: 24px;
  }
}


@media (max-width: 699px){
  .login-hr {
    width: 90%;
  }

  .conversation-hr {
    width: 100%;
    margin-bottom: 24px;
  }
}




.login-container, .chat-container {
  display: flex;
  justify-content: center;
}


.login-title {
  font-size: 48pt;
  font-weight: 800;
  margin-bottom: 0px;
  color: #31333D;
}



.form-container {
  font-size: 11pt;
  font-weight: bold;
  align-items: center;

}



.additional-links {
  margin-top: 10px;
  padding-bottom: 10px;
}






.login-button {
  height: 42px;
  margin-top: 8px;
  padding: 8px 18px 12px 18px;
  color: #31333D;
  background-color: #B6EAC2;
  border-radius: 4px;
  font-size: 14pt;
  font-weight: bold;
}

.back-button {
  margin-top: 8px;
  padding: 9px 18px 9px 18px;
  color: #31333D;
  background-color: lightgrey;
  border-radius: 4px;
  font-size: 14pt;
}

.conversation-button {
  margin-top: 30px;
}


.dropdown {
  margin-bottom: 20px;
}


.chat-input-text {
  color: #31333D;
  margin-bottom: -30px;
  font-size: 14pt;

}

.current-user-chat {
  display: flex;
  justify-content: flex-end;
}

.chat-direction {
  display: flex;
  flex-direction: column-reverse;
}

.chat-bubble-user {
  display: flex;
  padding: 0px 24px;
  margin-bottom: 8px;
  border-radius: 12px;
  border-width: 2px;
  border-color: #5C5F6D;
  border-style: none none solid none;
  background: #D5E1EF;
  max-width: fit-content;
}

.chat-bubble-otheruser {
  display: flex;
  padding: 0px 24px;
  margin-bottom: 8px;
  margin-left: 12px;
  border-radius: 12px;
  border-width: 2px;
  border-color: #5C5F6D;
  border-style: none none solid none;
  background: #8FB9EA;
  max-width: fit-content;
  align-content: flex-end;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right:12px solid #8FB9EA;
  margin-top: -52px;
  margin-right: 22px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left:12px solid #D5E1EF;
  margin-top: 20px;
  margin-left: 0px;
}

.message-div {
  margin-top: 30px;
}

.chat-text, .description-text, .arrow-left, .arrow-right {
  font-size: 14pt;
  display: inline;
  align-items: center;
}

.chat-text {
  font-weight: normal;
  margin-left: 8px;

}

.chat-list-item {
  margin: 20px 0px 30px 0px;
  font-size: 24pt;
  padding: 12px 18px;
  background-color: lightgrey;
  border-style: none none solid none;
  border-width: 2px;
  border-color: #5C5F6D;
  border-radius: 4px;
  color: #31333D;
}

.input-description {
    font-size: 18pt;
}
