* {
  font-family: 'Muli', sans-serif;
}

.outer-div {
  margin: 0 auto;
  width: 700px;
  display: block;
  justify-content: center;

}

.top-panel {
  min-width: 700px;
  display: block;
  margin-top: 66px;
}


#title {
  font-size: 48pt;
  text-align: left;
  font-weight: 800;
  color: #31333D;
  width: 100%;
  margin-bottom: -40px;
}


#model {
  font-size: 14pt;
  font-style: italic;
  margin-bottom: 0px;
}


.tooldetail-hr {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}


.detail-img {
  max-width: 250px;
  max-height: 250px;
  margin-right: 20px;
}

.panels {
  display: flex;
  margin-top: -20px;
  width: 430px;
}

.side-panel {

}

.detail-img-container, .side-panel {
  display: inline;
  margin: auto;
}

.map {
  height: 220px;
  width: 100%;
  background-color: black;
  margin-top: 20px;
}

.detail-inner-container {
  display: flex;
  width: 430px;
  margin-top: 0px;
}

.detail-text {
  font-size: 11pt;
}






#description {
  font-size: 12pt;
  height: 94px;
}

#serial {
  font-size: 10pt;
  color: navy;
}

.left-container {
  width: 210px;
  background: lightgrey;
  border: 1px solid grey;
  border-radius: 6px;
  margin-right: 20px;
  padding-left: 12px;
}
.right-container {

  width: 210px;
  background: lightgrey;
  border: 1px solid grey;
  border-radius: 6px;
  padding-top: 0px;
  padding: 12px;
}

.left-container, .right-container {
  display: inline;
}

#price {
  font-size: 36pt;
  color: darkgreen;
  margin-bottom: -20px;
}

#price-text {
  font-size: 16pt;
}

#price, #price-text {
  display: inline;
}

#zip {
}



/*
@media screen
  and (min-width: 700px)
  and (max-width: 1124px) {

  .map {
    width: 200px;
    height: 200px;
    min-width: 200px;
    background-color: pink;
  }

  .detail-img{
  }

  #bottom-panel {
    display: flex;
  }

  .detail-inner-container, .map {
    display: block;
  }
}


@media (max-width: 699px) {
  .detail-img {
    width: 100%;
    padding-top: 100%;
    background-color: orange;
  }

  .top-panel {
    margin-top: 60px;
    width: 100%;
  }

  .detail-text {
    max-width: 90%;
    text-align: justify;
  }

  #title, #model, #description {
    text-align: center;
  }

  .tooldetail-hr {
    width: 90%;
    margin-top: -10px;
    color: black;
  }
} */
